<div ng-controller="ImagesCtrl" layout-align="space-around" layout="row"  layout-wrap>
    <md-content ng-repeat="image in images" flex="25">
        <md-card md-theme="customTheme" class="md-primary md-hue-1">
            <div>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{image.RepoTags[0]}}</span>
                        <span class="md-subhead">Small</span>
                    </md-card-title-text>
                </md-card-title>
            </div>
            <div>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>
                        <i class="material-icons">play_arrow</i>
                    </md-button>
                    <md-button>
                        <i class="material-icons">delete_forever</i>
                    </md-button>
                </md-card-actions>
            </div>
        </md-card>
    </md-content>
</div>
