<html lang="en" >
   <head>
        <link rel="shortcut icon" href="/static/img/docker.svg">
        <title>FreshFish</title>

        <!-- LIBS -->
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.js"></script>

        <!-- JS code -->
        <script src="/static/js/app.js"></script>
        <script src="/static/js/MainCtrl.js"></script>
        <script src="/static/js/ImagesCtrl.js"></script>
        <script src="/static/js/ContainersCtrl.js"></script>
   </head>
   <body ng-app="app" ng-cloak>

        <md-toolbar md-theme="customTheme" class="md-primary md-hue-2">
         <div class="md-toolbar-tools">
            <md-card-header>
                <md-card-avatar>
                    <md-icon md-svg-src="/static/img/icon-docker.svg"></md-icon>
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">FreshFish</span>
                </md-card-header-text>
            </md-card-header>
         </div>
        </md-toolbar>
        <div ng-controller="MainCtrl" md-theme="customTheme">
            <md-tabs class="md-primary md-hue" md-selected="selectedIndex" md-stretch-tabs="always">
                <md-tab id="images">
                    <md-tab-label>Images</md-tab-label>
                </md-tab>
                <md-tab id="containers">
                    <md-tab-label>Containers</md-tab-label>
                </md-tab>
            </md-tabs>
        <!-- CONTANT  -->
        <div ui-view></div>

        </div>
   </body>
</html>


