<html lang="en" >
   <head>
    <!-- LIBS -->
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.js"></script>
    <!-- JS code -->
        <script src="/static/js/app.js"></script>
        <script src="/static/js/MainCtrl.js"></script>
   </head>
   <body ng-app="app" ng-cloak>

        <md-toolbar md-theme="customTheme" class="md-primary md-hue-2">
         <div class="md-toolbar-tools">
            <md-card-header>
                <md-card-avatar>
                    <img src="/static/img/docker-icon.png" class="md-user-avatar" style="height: 100%">
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">FreshFish</span>
                </md-card-header-text>
            </md-card-header>
         </div>
        </md-toolbar>
        <div ng-controller="MainCtrl" md-theme="customTheme">
            <md-tabs class="md-primary md-hue" md-selected="selectedIndex" md-stretch-tabs="always">
                <md-tab id="images">
                    <md-tab-label>Images</md-tab-label>
                </md-tab>
                <md-tab id="containers">
                    <md-tab-label>Running containers</md-tab-label>
                </md-tab>
            </md-tabs>
        <!-- CONTANT  -->
        <div ui-view flex></div>

        </div>
   </body>
</html>


